<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.king.admin.persistence.CustomerLoanMapper" >
  <resultMap id="BaseResultMap" type="me.king.admin.domain.CustomerLoan" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="stage_number" property="stageNumber" jdbcType="INTEGER" />
    <result column="bank_account" property="bankAccount" jdbcType="INTEGER" />
    <result column="bank_branch" property="bankBranch" jdbcType="VARCHAR" />
    <result column="bank_card_number" property="bankCardNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    id, customer_id, serial_number, amount, stage_number, bank_account, bank_branch, 
    bank_card_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    select 
    <include refid="Base_Column_List" />
    from customer_loan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    delete from customer_loan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.king.admin.domain.CustomerLoan" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    insert into customer_loan (id, customer_id, serial_number, 
      amount, stage_number, bank_account, 
      bank_branch, bank_card_number)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{serialNumber,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DOUBLE}, #{stageNumber,jdbcType=INTEGER}, #{bankAccount,jdbcType=INTEGER}, 
      #{bankBranch,jdbcType=VARCHAR}, #{bankCardNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.king.admin.domain.CustomerLoan" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    insert into customer_loan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="stageNumber != null" >
        stage_number,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="bankBranch != null" >
        bank_branch,
      </if>
      <if test="bankCardNumber != null" >
        bank_card_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="stageNumber != null" >
        #{stageNumber,jdbcType=INTEGER},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=INTEGER},
      </if>
      <if test="bankBranch != null" >
        #{bankBranch,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNumber != null" >
        #{bankCardNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.king.admin.domain.CustomerLoan" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    update customer_loan
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="stageNumber != null" >
        stage_number = #{stageNumber,jdbcType=INTEGER},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=INTEGER},
      </if>
      <if test="bankBranch != null" >
        bank_branch = #{bankBranch,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNumber != null" >
        bank_card_number = #{bankCardNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.king.admin.domain.CustomerLoan" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    update customer_loan
    set customer_id = #{customerId,jdbcType=INTEGER},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      stage_number = #{stageNumber,jdbcType=INTEGER},
      bank_account = #{bankAccount,jdbcType=INTEGER},
      bank_branch = #{bankBranch,jdbcType=VARCHAR},
      bank_card_number = #{bankCardNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
<!--   biz begin -->
  <select id="selectByCustomerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    select 
    <include refid="Base_Column_List" />
    from customer_loan
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByCustomerId" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-17 11:29:18。
    -->
    delete from customer_loan
    where customer_id = #{customerId,jdbcType=INTEGER}
  </delete>
<!--   biz end -->
</mapper>