<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.king.admin.persistence.CustomerEmergencyContactMapper" >
  <resultMap id="BaseResultMap" type="me.king.admin.domain.CustomerEmergencyContact" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--sle
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    id, customer_id, name, phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    select 
    <include refid="Base_Column_List" />
    from customer_emergency_contact
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    delete from customer_emergency_contact
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.king.admin.domain.CustomerEmergencyContact" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    insert into customer_emergency_contact (id, customer_id, name, 
      phone)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.king.admin.domain.CustomerEmergencyContact" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    insert into customer_emergency_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.king.admin.domain.CustomerEmergencyContact" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    update customer_emergency_contact
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.king.admin.domain.CustomerEmergencyContact" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    update customer_emergency_contact
    set customer_id = #{customerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
<!--   biz begin -->
  <select id="selectByCustomerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    select 
    <include refid="Base_Column_List" />
    from customer_emergency_contact
    where customer_id= #{customerId,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByCustomerId" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 13:47:29。
    -->
    delete from customer_emergency_contact
    where customer_id = #{customerId,jdbcType=INTEGER}
  </delete>
<!--   biz end -->
</mapper>