<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.king.admin.persistence.CustomerMapper" >
  <resultMap id="BaseResultMap" type="me.king.admin.domain.Customer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="car_models" property="carModels" jdbcType="VARCHAR" />
    <result column="car_price" property="carPrice" jdbcType="DOUBLE" />
    <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
    <result column="uping_user_name" property="upingUserName" jdbcType="VARCHAR" />
    <result column="uping_time" property="upingTime" jdbcType="TIMESTAMP" />
    <result column="examine_user_name" property="examineUserName" jdbcType="VARCHAR" />
    
    <result column="examine_time" property="examineTime" jdbcType="TIMESTAMP" />
    <result column="release_payments_user_name" property="releasePaymentsUserName" jdbcType="VARCHAR" />
   
    <result column="release_payments_time" property="releasePaymentsTime" jdbcType="TIMESTAMP" />
    <result column="release_payments_number" property="releasePaymentsNumber" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="pre_status" property="preStatus" jdbcType="INTEGER" />
    <result column="remaining_period" property="remainingPeriod" jdbcType="INTEGER" />
    <result column="total_repayment_amount" property="totalRepaymentAmount" jdbcType="DOUBLE" />
    <result column="current_repayment" property="currentRepayment" jdbcType="DOUBLE" />
    <association property="upingUser" column="uping_user_name"
    	select="me.king.admin.persistence.UserMapper.selectByLoginName">
    </association>
     <association property="examineUser" column="examine_user_name"
    	select="me.king.admin.persistence.UserMapper.selectByLoginName">
    </association>
     <association property="releasePaymentsUser" column="release_payments_user_name"
    	select="me.king.admin.persistence.UserMapper.selectByLoginName">
    </association>
    <association property="loan" column="id"
    	select="me.king.admin.persistence.CustomerLoanMapper.selectByCustomerId">
    </association>
  </resultMap>
  
  <resultMap type="me.king.admin.domain.Customer" id="DetailsMap" extends="BaseResultMap">
  	<association property="share" column="id"
    	select="me.king.admin.persistence.CustomerShareMapper.selectByCustomerId">
    </association>
    <association property="emergencyContactList" column="id"
    	select="me.king.admin.persistence.CustomerEmergencyContactMapper.selectByCustomerId">
    </association>
    <association property="imageList" column="id"
    	select="me.king.admin.persistence.ImageMapper.selectByCustomerId">
    </association>
    <association property="contractVideoList" column="id"
    	select="me.king.admin.persistence.VideoMapper.selectByCustomerId">
    </association>
    <association property="paymentPlanList" column="id"
    	select="me.king.admin.persistence.CustomerPaymentPlanMapper.selectByCustomerId">
    </association>
  </resultMap>
  
  <resultMap type="me.king.admin.domain.Customer" id="PaymentPlanMap" extends="BaseResultMap">
  	<association property="paymentPlanList" column="planId"
    	select="me.king.admin.persistence.CustomerPaymentPlanMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    id, name, card_number, sex, phone, car_models, car_price, contract_number, uping_user_name, 
    uping_time, examine_user_name, examine_time, release_payments_user_name, release_payments_time, 
    release_payments_number, status,pre_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.king.admin.domain.Customer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    insert into customer (id, name, card_number, 
      sex, phone, car_models, 
      car_price, contract_number, uping_user_name, 
      uping_time, examine_user_name, examine_time, 
      release_payments_user_name, release_payments_time, 
      release_payments_number, status,pre_status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{carModels,jdbcType=VARCHAR}, 
      #{carPrice,jdbcType=DOUBLE}, #{contractNumber,jdbcType=VARCHAR}, #{upingUserName,jdbcType=VARCHAR}, 
      #{upingTime,jdbcType=TIMESTAMP}, #{examineUserName,jdbcType=VARCHAR}, #{examineTime,jdbcType=TIMESTAMP}, 
      #{releasePaymentsUserName,jdbcType=VARCHAR}, #{releasePaymentsTime,jdbcType=TIMESTAMP}, 
      #{releasePaymentsNumber,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},#{preStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="me.king.admin.domain.Customer" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="carModels != null" >
        car_models,
      </if>
      <if test="carPrice != null" >
        car_price,
      </if>
      <if test="contractNumber != null" >
        contract_number,
      </if>
      <if test="upingUserName != null" >
        uping_user_name,
      </if>
      <if test="upingTime != null" >
        uping_time,
      </if>
      <if test="examineUserName != null" >
        examine_user_name,
      </if>
      <if test="examineTime != null" >
        examine_time,
      </if>
      <if test="releasePaymentsUserName != null" >
        release_payments_user_name,
      </if>
      <if test="releasePaymentsTime != null" >
        release_payments_time,
      </if>
      <if test="releasePaymentsNumber != null" >
        release_payments_number,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="preStatus != null" >
      	pre_status
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="carModels != null" >
        #{carModels,jdbcType=VARCHAR},
      </if>
      <if test="carPrice != null" >
        #{carPrice,jdbcType=DOUBLE},
      </if>
      <if test="contractNumber != null" >
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="upingUserName != null" >
        #{upingUserName,jdbcType=VARCHAR},
      </if>
      <if test="upingTime != null" >
        #{upingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineUserName != null" >
        #{examineUserName,jdbcType=VARCHAR},
      </if>
      <if test="examineTime != null" >
        #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasePaymentsUserName != null" >
        #{releasePaymentsUserName,jdbcType=VARCHAR},
      </if>
      <if test="releasePaymentsTime != null" >
        #{releasePaymentsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasePaymentsNumber != null" >
        #{releasePaymentsNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="preStatus != null" >
       #{preStatus,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.king.admin.domain.Customer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    update customer
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="carModels != null" >
        car_models = #{carModels,jdbcType=VARCHAR},
      </if>
      <if test="carPrice != null" >
        car_price = #{carPrice,jdbcType=DOUBLE},
      </if>
      <if test="contractNumber != null" >
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="upingUserName != null" >
        uping_user_name = #{upingUserName,jdbcType=VARCHAR},
      </if>
      <if test="upingTime != null" >
        uping_time = #{upingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineUserName != null" >
        examine_user_name = #{examineUserName,jdbcType=VARCHAR},
      </if>
      <if test="examineTime != null" >
        examine_time = #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasePaymentsUserName != null" >
        release_payments_user_name = #{releasePaymentsUserName,jdbcType=VARCHAR},
      </if>
      <if test="releasePaymentsTime != null" >
        release_payments_time = #{releasePaymentsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasePaymentsNumber != null" >
        release_payments_number = #{releasePaymentsNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="preStatus != null" >
        pre_status = #{preStatus,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.king.admin.domain.Customer" >
    <!--
      WARNING - @mbggenerated
           这是MyBatis Generator自动生成, 不要修改。
            生成于 2017-01-16 11:48:46。
    -->
    update customer
    set name = #{name,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      car_models = #{carModels,jdbcType=VARCHAR},
      car_price = #{carPrice,jdbcType=DOUBLE},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      uping_user_name = #{upingUserName,jdbcType=VARCHAR},
      uping_time = #{upingTime,jdbcType=TIMESTAMP},
      examine_user_name = #{examineUserName,jdbcType=VARCHAR},
      examine_time = #{examineTime,jdbcType=TIMESTAMP},
      release_payments_user_name = #{releasePaymentsUserName,jdbcType=VARCHAR},
      release_payments_time = #{releasePaymentsTime,jdbcType=TIMESTAMP},
      release_payments_number = #{releasePaymentsNumber,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!--   biz begin -->
	<select id="selectSelective" parameterType="me.king.admin.domain.Customer" resultMap="BaseResultMap">
		select 
    		DISTINCT c.*,
    		IFNULL(
	    		(
					SELECT
						count(*)
					FROM
						customer_payment_plan cpp
					WHERE
						cpp.`status` IN (0, 1)
					AND c.id = cpp.customer_id
				),
				cl.stage_number
			) remaining_period, <!-- 剩余期数 -->
			ROUND(IFNULL(
				(
					SELECT
						sum(cpp.amount)
					FROM
						customer_payment_plan cpp
					WHERE
						cpp.`status` = 2
					AND cpp.customer_id = c.id
				),
				0
			),2) total_repayment_amount, <!-- 已还款 -->
			cpp.amount current_repayment
    	from customer c left join customer_loan cl on c.id = cl.customer_id
    					left join customer_payment_plan cpp on c.id = cpp.customer_id
    	<where>
			<include refid="Base_Query_Selective"/>
    	</where>
    	order by uping_time desc
		limit #{start,jdbcType=INTEGER},#{length,jdbcType=INTEGER}
	</select>
	<select id="selectSelectiveCount" parameterType="me.king.admin.domain.Customer" resultType="java.lang.Integer">
		select count(*) from (
			select 
	    		DISTINCT c.*
	    	from customer c left join customer_loan cl on c.id = cl.customer_id
	    					left join customer_payment_plan cpp on c.id = cpp.customer_id
	    	<where>
				<include refid="Base_Query_Selective"/>
	    	</where>
	    	) t
    	
	</select>
	<sql id="Base_Query_Selective">
	  <if test="name != null and name != ''" >
	  	and c.name like concat('%','${name}','%' )  
      </if>
      <if test="cardNumber != null and cardNumber != ''" >
      	and c.card_number like concat('%','${cardNumber}','%' )  
      </if>
      <if test="sex != null" >
        and c.sex = #{sex,jdbcType=INTEGER}
      </if>
      <if test="phone != null and phone != ''" >
        and c.phone like concat('%','${phone}','%' )
      </if>
      <if test="carModels != null" >
        and c.car_models = #{carModels,jdbcType=VARCHAR}
      </if>
      <if test="carPrice != null" >
        and c.car_price = #{carPrice,jdbcType=DOUBLE}
      </if>
      <if test="contractNumber != null" >
        and c.contract_number = #{contractNumber,jdbcType=VARCHAR}
      </if>
      <if test="upingUserName != null" >
        and c.uping_user_name = #{upingUserName,jdbcType=VARCHAR}
      </if>
      <if test="upingTimeStr != null and upingTimeStr != ''" >
        and c.date_format(uping_time, '%Y-%m-%d')  = #{upingTimeStr,jdbcType=TIMESTAMP}
      </if>
      <if test="examineUserName != null" >
        and c.examine_user_name = #{examineUserName,jdbcType=VARCHAR}
      </if>
      <if test="examineTime != null" >
        and c.examine_time = #{examineTime,jdbcType=TIMESTAMP}
      </if>
      <if test="releasePaymentsUserName != null" >
        and c.release_payments_user_name = #{releasePaymentsUserName,jdbcType=VARCHAR}
      </if>
      <if test="releasePaymentsTime != null" >
        and c.release_payments_time = #{releasePaymentsTime,jdbcType=TIMESTAMP}
      </if>
      <if test="releasePaymentsNumber != null" >
        and c.release_payments_number = #{releasePaymentsNumber,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
        and c.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="statusList != null" >
        and c.status in 
	    <foreach collection="statusList" item="status" index="index"
	            open="(" close=")" separator=",">
	            #{status}
	    </foreach>
      </if>
      
      
      <if test="loanAmount != null and loanAmount != null" >
        and cl.amount <![CDATA[>=]]> #{loanAmount,jdbcType=INTEGER}
      </if>
<!--       分期数 -->
      <if test="stageNumber != null" >
        and cl.stage_number = #{stageNumber,jdbcType=INTEGER}
      </if>
<!--       剩余期数 -->
      <if test="remainingPeriod != null" >
        and IFNULL(
				(
					SELECT
						count(*)
					FROM
						customer_payment_plan cpp
					WHERE
						cpp.`status` IN (0, 1)
					AND c.id = cpp.customer_id
				),
				cl.stage_number
			) <![CDATA[=]]> #{remainingPeriod,jdbcType=INTEGER}
      </if>
<!--       回款管理查询 -->
      <if test="receivePaymentsStatus != null">
		<choose>
			<when test="receivePaymentsStatus == 0">
				c.status = 4
				and date_format(date_sub(now(),interval 1 day),'%Y-%m-%d') <![CDATA[=]]> date_format(cpp.plan_payment_day, '%Y-%m-%d')
			</when>
			<when test="receivePaymentsStatus == 1">
				c.status = 4
				and date_format(now(),'%Y-%m-%d') <![CDATA[=]]> date_format(cpp.plan_payment_day, '%Y-%m-%d')
			</when>
			<when test="receivePaymentsStatus == 2">
				c.status = 5
				and date_format(now(),'%Y-%m-%d') <![CDATA[<]]> date_format(cpp.plan_payment_day, '%Y-%m-%d')
			</when>
		</choose>
	 </if>
<!-- 	 报表统计 -->
	 <if test="beginReleasePaymentsDate != null">
	 	and date_format(c.release_payments_time,'%Y-%m-%d') <![CDATA[>=]]> date_format(#{beginReleasePaymentsDate,jdbcType=VARCHAR}, '%Y-%m-%d')
	 </if>
	 <if test="endReleasePaymentsDate != null">
	 	and date_format(c.release_payments_time,'%Y-%m-%d') <![CDATA[<=]]> date_format(#{endReleasePaymentsDate,jdbcType=VARCHAR}, '%Y-%m-%d')
	 </if>
	</sql>
	
	
	<select id="selectDetailsByPrimaryKey" resultMap="DetailsMap" parameterType="java.lang.Integer" >
	    <!--
	      WARNING - @mbggenerated
	           这是MyBatis Generator自动生成, 不要修改。
	            生成于 2017-01-16 11:48:46。
	    -->
	    select 
	    <include refid="Base_Column_List" />
	    from customer
	    where id = #{id,jdbcType=INTEGER}
    </select>
	<select id="queryByCardNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    <!--
	      WARNING - @mbggenerated
	           这是MyBatis Generator自动生成, 不要修改。
	            生成于 2017-01-16 11:48:46。
	    -->
	    select 
	    <include refid="Base_Column_List" />
	    from customer
	    where card_number = #{cardNumber,jdbcType=INTEGER}
    </select>
    <select id="selectCurrentAccount" resultMap="PaymentPlanMap" parameterType="me.king.admin.domain.Customer">
	    <!--
	      WARNING - @mbggenerated
	           这是MyBatis Generator自动生成, 不要修改。
	            生成于 2017-01-16 11:48:46。
	    -->
	    select 
	    	c.*,cpp.id as planId
	    from customer c join customer_payment_plan cpp on c.id = cpp.customer_id
	   <where>
	   		c.status in (4,5)
	   		and date_format(now(),'%Y-%m-%d') <![CDATA[>=]]> date_format(cpp.plan_payment_day, '%Y-%m-%d')
			<include refid="Base_Query_Selective"/>
    	</where>
    </select>
    
<!--   biz end -->

  
</mapper>